/* font style */
body, button, input, select, textarea,h1 ,h2, h3, h4, h5, h6 { 
  font-family: Microsoft YaHei,'宋体' , Tahoma, Helvetica, Arial, "\5b8b\4f53", sans-serif;
}

/* .row>[class^=col-] {
  border: 1px solid rgba(86,61,124,.2);
} */

/* latest video menu */
.section-title__latest {
  margin: 30px 0px;
  font-size: 26px;
  letter-spacing: 2px;
  color: #777;
}
.thumbnail-intro span, i {
  font-size: 13px;
  color: #555;
}
/* popover background color */
.popover-body {
  background-color:black;
  color: white;
  font-size: 10px;
}
.popover > .arrow:after { 
  border-top-color: black;
}

.thumbnail {
  max-width: 200px;
  max-height: 150px;
}
.thumbnail-foo {
    margin: 0 auto;
  width: 200px;
  height: 150px;
  background-color: gray;
  border: 1px solid green;
}
.thumbnail-content {
  padding: .3rem;
  width: auto;
  height: auto;
}
.sidebar{
  margin-top: 1rem;
}

.img-cm{
  height: 100%;
}

.image-href{
  border: 0;
}

.video-card {
  min-height: 15rem;
  margin-bottom: 15px;
}

.card-body {
  padding: 1rem !important;
}

.thumbnail-title, .thumbnail-title > a, .thumbnail-title-span {
  font-size: 12px;
  height: 4.5rem;
  overflow: hidden;
  text-overflow: ellipsis;
}

/* general */
.vertical-middle {
  vertical-align: middle;
}
.img-center {
  display: block;
  margin: 0 auto;
}
.main-content {
  margin-top: 5.5rem;
}