body { font-family: 'helvetica'; }
#container_caption {
  height: 400px;
overflow: auto;
}
#table_caption {
  width: 100%;
  border-collapse: collapse;
}
#table_caption thead th {
  padding: 10px;
  background-color: #ea922c;
  color: #fff;
}
#table_caption tbody td {
  padding: 10px;
  background-color: #e1ddc9;
  color: #fff;
}
.highlight_caption {background-color:#f6f987;}

a:link {
    text-decoration: none;
}

a:visited {
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}

a:active {
    text-decoration: underline;
}